.home-box {
  display: flex;

  height: 100vh;

  background-color: #080113;
  background-image: url(https://www.transparenttextures.com/patterns/paper.png);

  justify-content: center;
  align-items: center;
}
