{
  "presets": ["@babel/react"],
  "plugins": [
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-proposal-object-rest-spread",
    "@babel/plugin-proposal-optional-chaining",
    [
      "module-resolver",
      {
        "root": ["./app/src"],
        "alias": {
          "@components": "./app/src/components",
          "@constants": "./app/src/constants",
          "@contexts": "./app/src/contexts",
          "@modules": "./app/src/modules"
        }
      }
    ]
  ]
}
