.result-box {
  overflow: scroll;

  height: 100vh;

  flex: 1;
}

.result-box-head {
}

.result-box-head-row {
}

.result-box-head-cell {
  padding: 10px;

  white-space: nowrap;

  border-right: 1px solid #eee;
  border-bottom: 1px solid #eee;
}

.result-box-body {
}

.result-box-body-row {
}

.result-box-body-cell {
  padding: 10px;

  white-space: nowrap;

  border-right: 1px solid #eee;
  border-bottom: 1px solid #eee;
}
