.table-bar {
  display: flex;
  flex-direction: column;

  height: 100vh;
}

.table-bar-header {
  padding: 5px;
}

.table-bar-list {
  display: flex;
  overflow-y: scroll;
  flex-direction: column;

  border-right: 1px solid #eee;
}

.table-bar-row {
  padding: 5px;

  border-bottom: 1px solid #eee;
}

.table-bar-row.selected {
  background: #aaa;
}
