.tables-list {
  display: flex;
  flex-direction: column;
}

.tables-list-header {
  padding: 5px;
}

.tables-list-list {
  display: flex;
  overflow-y: scroll;
  flex-direction: column;

  border-right: 1px solid #eee;
}

.tables-list-row {
  padding: 5px;

  border-bottom: 1px solid #eee;
}
.tables-list-row .fas {
  float: right;

  margin: 0 10px;
}

.tables-list-row.selected {
  background: #aaa;
}
