.home-form-box {
  display: flex;
  flex-direction: column;
}

.home-form-input-box {
  display: flex;
  flex-direction: column;

  margin-top: 20px;
}

.home-form-input-label {
  text-transform: uppercase;

  font-size: 13px;
}

.home-form-input-field {
  margin-top: 5px;

  border: none;
  border-bottom: 2px solid #e8e8e8;
  background-color: transparent;

  font-size: 20px;
}

.home-form-input-field:focus {
  border-color: rgb(208, 89, 4);
  outline: none;
}

.home-form-error {
  padding: 5px;

  text-align: center;

  color: red;
  border: 1px solid red;
  border-radius: 3px;
  background: white;
}

.home-form-submit {
  width: 100%;
  max-width: 200px;
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 10px;
  padding-bottom: 10px;

  transition: transform 0.4s;

  color: white;
  border: none;
  border-radius: 5px;
  background: linear-gradient(135deg, #ef8300 0%, #d05904 100%);

  font-size: 14px;
}

.home-form-submit:focus,
.home-form-submit:hover {
  transform: scale(1.1);

  outline: none;
}
